.mapbox-container {
    width: 100vw;
    height: 100vh;
}
.map-container.mapboxgl-map {
    width: 100vw;
    height: 100vh;
}
.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate {
    width: 100vw;
    height: 100vh;
}
.mapboxgl-canvas{
    width: 100vw !important;
    height: 100vh !important;
}